<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="container" style="background-color:cadetblue">
        <div class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/images/ZIGGY.jpg" alt="Site Logo" style="height:100px; width: 200px" />
                    </a>
                </div>
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    @*<input class="form-control mr-sm-2" type="search" name="name" autocomplete="off" placeholder="Search" aria-label="Search item">*@
                    @Html.TextBox("name")<input type="submit" value="Search" />
                }

                @Html.ActionLink("WELCOME!!!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>



            <div class="navbar navbar-expand-lg  navbar-brand " style="color:white">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Food Blog</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>